//Brand colors
$brand-color-pink: #c0c;
$brand-color-purple: #909;
$brand-color-hover: rgba(155, 0, 155, 0.5);
$brand-color-hover-inactive: #f7f7f7;

//Font colors
$text-color-pink: rgb(204, 0, 204);
$text-color-white: #ffffff;
$text-color-black: #000000;

//Component colors
$component-color-primary: #990099;
$component-color-text: #cc00cc;
$component-color-text-heading: #333333;
$component-color-text-body: #666666;
$component-color-secondary: #666666;
$component-color-primary-inactive: #d699d6;
$component-color-secondary-inactive: #bababa;
$component-color-tertiary: #ffffff;
$tertiary-border: #ccc;
$line-color: #c4c4c4;

//warning colors
$warning-color-error: #ff0000;
$warning-color-error-muted: #d36965;
$warning-color-warning: #ff9103;
$warning-color-success: #25bf58;
$warning-color-info: #2196f3;
$warning-color-success-muted: #60bb71;

$colors: (
    pink: $brand-color-pink,
    purple: $brand-color-purple,
    hover: $brand-color-hover,
    inactive: $brand-color-hover-inactive,
    line: $line-color,
    warning: $warning-color-warning,
    success: $warning-color-success,
    info: $warning-color-info,
    error: $warning-color-error,
    success-muted: $warning-color-success-muted,
    error-muted: $warning-color-error-muted,
    white: $text-color-white,
    tertiary: $component-color-tertiary
);

//Font sizes
$font-size-h1: 2.4rem;
$font-size-h2: 1.6rem;
$font-size-h3: 1.4rem;
$font-size-body: 1.2rem;
$font-size-body-pink: 1.3rem;
$font-size-label: 1.2rem;
// $font-size-tooltip: 1.1rem;
$font-error-message: 1.1rem;
$small-button-height: 2.5rem;
// $font-icon-font-size: 1.8rem;

//Font size map
$font-sizes: (
    h1: $font-size-h1,
    h2: $font-size-h2,
    h3: $font-size-h3,
    h4: $font-size-body-pink,
    body: $font-size-body,
    label: $font-size-label,
    error: $font-error-message
);

$base-padding: 1rem;
$base-margin: 1rem;

$base-border-thickness: 1px;
$base-border-radius: 2rem;
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1);

$buttons: (
    primary: (
        bg-color: $component-color-primary,
        color: $text-color-white,
        border-color: $component-color-primary,
        font-size: $font-size-h2,
        hover-color: $brand-color-hover
    ),
    secondary: (
        bg-color: $component-color-text-heading,
        color: $text-color-white,
        border-color: $component-color-secondary,
        font-size: $font-size-h2,
        hover-color: $component-color-secondary
    ),
    tertiary: (
        bg-color: $component-color-tertiary,
        color: $text-color-pink,
        border-color: $tertiary-border,
        font-size: $font-size-h2,
        border-size: 1px,
        hover-color: lighten($text-color-black, 95%)
    ),
    primary-small: (
        bg-color: $component-color-primary,
        color: $text-color-white,
        border-color: $component-color-primary,
        font-size: $font-size-h3,
        height: $small-button-height,
        hover-color: $brand-color-hover
    ),
    secondary-small: (
        bg-color: $component-color-text-heading,
        color: $text-color-white,
        border-color: $component-color-secondary,
        font-size: $font-size-h3,
        height: $small-button-height,
        hover-color: $component-color-secondary
    ),
    tertiary-small: (
        bg-color: $component-color-tertiary,
        color: $text-color-pink,
        border-color: $tertiary-border,
        font-size: $font-size-h3,
        border-size: 1px,
        height: $small-button-height,
        hover-color: lighten($text-color-black, 95%)
    )
)
