//Brand colors
$brand-color-pink: #c0c !default;
$brand-color-purple: #909 !default;
$brand-color-hover: rgba(155, 0, 155, 0.5) !default;
$brand-color-hover-inactive: #f7f7f7 !default;

//Font colors
$text-color-pink: rgb(204, 0, 204) !default;
$text-color-white: #ffffff !default;
$text-color-black: #000000 !default;

//Component colors
$component-color-primary: #990099 !default;
$component-color-text: #cc00cc !default;
$component-color-text-heading: #333333 !default;
$component-color-text-body: #666666 !default;
$component-color-secondary: #666666 !default;
$component-color-primary-inactive: #d699d6 !default;
$component-color-secondary-inactive: #bababa !default;
$component-color-tertiary: #ffffff !default;
$tertiary-border: #ccc !default;
$line-color: #c4c4c4 !default;

//warning colors
$warning-color-error: #ff0000 !default;
$warning-color-error-muted: #d36965 !default;
$warning-color-warning: #ff9103 !default;
$warning-color-success: #25bf58 !default;
$warning-color-info: #2196f3 !default;
$warning-color-success-muted: #60bb71 !default;

$colors: (
    pink: $brand-color-pink,
    purple: $brand-color-purple,
    hover: $brand-color-hover,
    inactive: $brand-color-hover-inactive,
    line: $line-color,
    warning: $warning-color-warning,
    success: $warning-color-success,
    info: $warning-color-info,
    error: $warning-color-error,
    success-muted: $warning-color-success-muted,
    error-muted: $warning-color-error-muted,
    white: $text-color-white,
    tertiary: $component-color-tertiary
);

//Font sizes
$font-size-h1: 2.4rem !default;
$font-size-h2: 1.6rem !default;
$font-size-h3: 1.4rem !default;
$font-size-body: 1.2rem !default;
$font-size-body-pink: 1.3rem !default;
$font-size-label: 1.2rem !default;
// $font-size-tooltip: 1.1rem !default;
$font-error-message: 1.1rem !default;
$small-button-height: 2.5rem !default;
// $font-icon-font-size: 1.8rem !default;

//Font size map
$font-sizes: (
    h1: $font-size-h1,
    h2: $font-size-h2,
    h3: $font-size-h3,
    h4: $font-size-body-pink,
    body: $font-size-body,
    label: $font-size-label,
    error: $font-error-message
);

$base-padding: 1rem !default;
$base-margin: 1rem !default;

$base-border-thickness: 1px !default;
$base-border-radius: 2rem !default;
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1) !default;

$buttons: (
    primary: (
        bg-color: $component-color-primary,
        color: $text-color-white,
        border-color: $component-color-primary,
        font-size: $font-size-h2,
        hover-color: $brand-color-hover
    ),
    secondary: (
        bg-color: $component-color-text-heading,
        color: $text-color-white,
        border-color: $component-color-secondary,
        font-size: $font-size-h2,
        hover-color: $component-color-secondary
    ),
    tertiary: (
        bg-color: $component-color-tertiary,
        color: $text-color-pink,
        border-color: $tertiary-border,
        font-size: $font-size-h2,
        border-size: 1px,
        hover-color: lighten($text-color-black, 95%)
    ),
    primary-small: (
        bg-color: $component-color-primary,
        color: $text-color-white,
        border-color: $component-color-primary,
        font-size: $font-size-h3,
        height: $small-button-height,
        hover-color: $brand-color-hover
    ),
    secondary-small: (
        bg-color: $component-color-text-heading,
        color: $text-color-white,
        border-color: $component-color-secondary,
        font-size: $font-size-h3,
        height: $small-button-height,
        hover-color: $component-color-secondary
    ),
    tertiary-small: (
        bg-color: $component-color-tertiary,
        color: $text-color-pink,
        border-color: $tertiary-border,
        font-size: $font-size-h3,
        border-size: 1px,
        height: $small-button-height,
        hover-color: lighten($text-color-black, 95%)
    )
);

$smallInputWidth: 20rem !default;
$mediumInputWidth: 29rem !default;
$inputWidth: 35rem !default;

$textInputs: (
    sm: (
        width: $smallInputWidth,
    ),
    md: (
        width: $mediumInputWidth,
    ),
)
