@use 'sass:math';

.card {
  display: block;
  padding: $base-padding;
  border: $base-border-thickness solid $component-color-secondary-inactive;
  box-shadow: $base-box-shadow;

  .card-title {
    font-size: $font-size-body;
    padding-bottom: $base-padding;
    font-weight: bold;
  }
  .card-body {
    font-size: $font-size-body;
    margin: 0rem 0.5rem;
    width: calc(100% - 1rem);
    a {
      text-decoration: underline;
    }
  }
}