.color-purple{
    color: $brand-color-purple;
}

.color-pink{
    color: $brand-color-pink;
}

.color-hover{
    color: $brand-color-hover;
}

.color-inactive{
    color: $brand-color-hover-inactive;
}

.color-line{
    color: $line-color;
}

.color-warning{
    color: $warning-color-warning;
}

.color-success{
    color: $warning-color-success;
}

.color-error{
    color: $warning-color-error;
}

.color-info{
    color: $warning-color-info;
}