@each $key, $val in $colors {
    #{".text-" + $key} {
        color: #{$val};
    }

    //Hover colors
    #{".text-hover-" + $key} {
        &:hover {
            color: #{$val};
        }
    }

    #{".bg-" + $key} {
        background-color: #{$val};
    }

    //Light variations
    @for $i from 1 through 9 {
        #{".text-" + $key + "-light-" + $i} {
            color: mix(white, $val, $i * 10); //i.e. .text-pink-light-1
        }

        //Hover colors variations
        #{".text-hover-" + $key + "-light-" + $i} {
            &:hover {
                color: mix(white, $val, $i * 10);
            }
        }

        #{".bg-" + $key + "-light-" + $i} {
            background-color: mix(white, $val, $i * 10);
        }
    }

    //Dark variations
    @for $i from 1 through 9 {
        #{".text-" + $key + "-dark-" + $i} {
            color: mix(black, $val, $i * 10); //i.e. .text-pink-dark-1
        }

        #{".text-hover-" + $key + "-dark-" + $i} {
            &:hover {
                color: mix(black, $val, $i * 10);
            }
        }

        #{".bg-" + $key + "-dark-" + $i} {
            background-color: mix(black, $val, $i * 10);
        }
    }
}
