@each $key, $val in $colors {
    #{".text-" + $key} {
        color: #{$val};
    }
    #{".bg-" + $key} {
        background-color: #{$val};
    }

    //Light variations
    @for $i from 1 through 9 {
        #{".text-" + $key + "-light-" + $i} {
            color: mix(white, $val, $i * 10); //i.e. .text-pink-light-1
        }
        #{".bg-" + $key + "-light-" + $i} {
            background-color: mix(white, $val, $i * 10);
        }
    }

    //Dark variations
    @for $i from 1 through 9 {
        #{".text-" + $key + "-dark-" + $i} {
            color: mix(black, $val, $i * 10); //i.e. .text-pink-dark-1
        }
        #{".bg-" + $key + "-dark-" + $i} {
            background-color: mix(black, $val, $i * 10);
        }
    }
}
