.text-h1{
    font-size: $font-size-h1;
}

.text-h2{
    font-size: $font-size-h2;
}

.text-h3{
    font-size: $font-size-h3;
}

.text-body{
    font-size: $font-size-body;
}

.text-body-pink{
    font-size: $font-size-body-pink;
    color: $text-color-pink;
}